<!-- Creacion de etructura simple de un html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <!-- Enlace a estilos con bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <!--  barra de navegcion añdidad medinte bootstrap -->
    <!--  esta misma barra sera replicda en los demas html para la navegacion total entre html´s -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Seccion de la tienda</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <!-- enlace a la pgina principal/cliente -->
                <a class="nav-link active" aria-current="page" href="../">Pagina principal</a>
              </li>
              <li class="nav-item">
                  <!-- enlace a la pgina del administrador -->
                <a class="nav-link" href="../admin">Administrdor</a>
              </li>
              <li class="nav-item">
                  <!-- enlace a la pagina de la tienda -->
                <a class="nav-link" href="../tienda">
                    Tienda
                </a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav><br>

      <!-- Formulrio para el ingreso/registro de una tienda -->
    <div style="width: 500px;">
      <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Nombre de la tienda</label>
          <input type="text" class="form-control" id="validationCustom01" value="Nombre" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- Caja de texto para el id -->
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Id_tienda</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
        <!-- Caja de texto para el gerente -->
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Gerente</label>
          <input type="text" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Estado</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Estado</option>
            <option value="1">Normal</option>
            <option value="2">Caso</option>
          </select>
        </div>
        <!-- Formulrio para el ingreso del numero telefonico de la tienda -->
        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">N° telefonico</label>
          <input type="text" class="form-control" id="validationCustom05" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
      </form>
    </div>

    
</body>
<!-- Enlace a script con bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>